<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" type="text/css" href="/style.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Signika+Negative&display=swap" rel="stylesheet">
    <title>TASK</title>
</head>
<body class="signup_login">
        <center>
            <span class="logo">
                CREATIVITAS.
            </span>
        </center>
        <center>
        <div class="sign_up_form">
            <form action="/user_signup" method="post">
            
                
                <div class="heading">
                <br><span>SIGN UP</span><br><br>
                </div>
               
            
                <label for="name" class="label_login" id="per_det">ENTER USERNAME</label>
                <input class="login-input" type="text" name="uname" id="space" placeholder="Username"><br><br>
                <label for="pw" class="label_login" id="per_det">ENTER PASSWORD</label>
                <input class="login-input" type="password" name="pw" id="space" placeholder="password"><br><br>
                <center><button id="login" class="button_login" >SIGN UP</button></center>
                 <a class="user_login" href="user_login">Click here to login</a>
            </form>
        </div>
        </centre>
    
</body>
</html>