body{
    background-color:#323333;
    color: #1be3d2;
}
.view_title{
    font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif;
font-size:60px;
}
#editor{
    font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif;
font-size:20px;
}
.line{
    color: #1be3d2;
}
.likes_icon{
    width:15px;
    padding:2px;
    margin-left:8px;
    margin-top: 2px;

}
.likes_amt{
    font-size:15px;
    
}
.label{
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-size:25px;
}
.sub-btn{
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-size:15px;
    
}
.textarea{
    width:1000px;
    border-radius: 10px;
    background:whitesmoke;
}