body{
    background-color:#789b9b;
    color: #000000;
    padding:15px;
}
.view_title{
    font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif;
font-size:60px;
}
#editor{
    font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif;
font-size:20px;
}

.line{
    color: #1be3d2;
}
.likes_icon{
    width:15px;
    padding:2px;
    margin-left:8px;
    margin-top: 2px;

}
.likes_amt{
    font-size:15px;
    
}
.label{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size:20px;
}
#textarea{
    border-radius:15px;
    width:700px;
    background-color: rgb(210, 216, 225);
    margin-top:10px;
    padding:10px;
}
.sub-btn{
    border-radius:10px;
    border:none;
    font-family: "Barlow Semi Condensed", sans-serif;
    padding:5px;
    background-color: rgb(190, 141, 141);
}
.username{display:none;}
.card{
    margin-top:10px;
    border-radius: 15px;
    border:solid white;
    padding:10px;
    background-color:rgb(210, 216, 225) ;
    width:700px;
}
.card>span{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size:15px;
}
.card>p{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size:13px;
}
.comment_box{
    list-style-type: none;
    padding:0px;
}